@page "/Catalog/Details/{id:int}"
@inject ICatalogService CatalogService
@inject ILogger<Details> Logger

<h2 class="esh-body-title">Details</h2>

<div class="container">
    @if (_item != null)
    {
        <div class="row">
            <img class="col-md-6 esh-picture" src="@($"/Pics/{_item.PictureFileName}")">

            <dl class="col-md-6 dl-horizontal">
                <dt>
                    Name
                </dt>

                <dd>
                    @_item.Name
                </dd>

                <dt>
                    Description
                </dt>

                <dd>
                    @_item.Description
                </dd>

                <dt>
                    Brand
                </dt>

                <dd>
                    @_item.CatalogBrand.Brand
                </dd>

                <dt>
                    Type
                </dt>

                <dd>
                    @_item.CatalogType.Type
                </dd>
                <dt>
                    Price
                </dt>

                <dd>
                    @_item.Price
                </dd>

                <dt>
                    Picture name
                </dt>

                <dd>
                    @_item.PictureFileName
                </dd>

                <dt>
                    Stock
                </dt>

                <dd>
                    @_item.AvailableStock
                </dd>

                <dt>
                    Restock
                </dt>

                <dd>
                    @_item.RestockThreshold
                </dd>

                <dt>
                    Max stock
                </dt>

                <dd>
                    @_item.MaxStockThreshold
                </dd>

            </dl>
        </div>

        <div class="text-right esh-button-actions">

            <a href="@($"/Catalog/Edit/{_item.Id}")" class="btn esh-button esh-button-primary">
                Edit
            </a>

            <a href="/" class="btn esh-button esh-button-secondary">
                Back to list
            </a>
        </div>
    }
    else
    {
        <h3 class="esh-body-sub-title">Item not found</h3>
        <div class="form-actions no-color esh-link-list">
            <a href="/" class="esh-link-item">
                Back to list
            </a>
        </div>
    }
</div>

@code {
    private CatalogItem? _item;

    [Parameter] 
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        Logger.LogInformation("Now loading... /Catalog/Details/{Id}", Id);

        _item = CatalogService.FindCatalogItem(Id);
    }
}
